<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <% if root_path != request.path %>
      <%= link_to root_path do %>
        <button class='btn' style='width: 70px;'>
          <%= image_tag 'arrow.svg', class: "navbar-brand"  %>
        </button>
      <% end %>    
    <% end %>
    
    
    <a class="navbar-brand" href="#">BUDGETIFY</a>
    
    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
    <% end %>
    
    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> %>
        <%# <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> %>
      </ul>
    </div>
  </div>
</nav>